<!-- <!doctype html> -->
<nav class="navbar navbar-inverse">
<div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="/">
            <span>
                <img src="/views/assets/cat_icon.png"
                style="max-height: 25px"/>
            </span>
            Catwalk
        </a>
    </div>
    <% if (typeof me !== "undefined") { %> <div>
        <ul class="nav navbar-nav">
            <li><a href="/users/search">
                Search Users
            </a></li>
            <li><a href="/cats/search">
                Search Cats
            </a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <img src="<%= me.picture %>"
                class="img-responsive img-circle"
                style="max-height:40px; padding-top:10px;"/>
            </li>
            <li><a href="/users/me">
                Hello <%= me.displayName %>!
            </a></li>
            <li><a href="/messages/inbox">
            	<% if(me.hasNewMessage) {
            		var style = "color: red;";
            	}%>
                <span class="glyphicon glyphicon-envelope" style="<%=style%>"></span>
                Inbox
            </a></li>
            <li><a href="/users/me/edit">
                <span class="glyphicon glyphicon-pencil"></span>
                Edit Profile
            </a></li>
            <li><a href="/logout">
                Logout
            </a></li>
        </ul>
    </div> <% } %>
</div>
</nav>
