# Ignore local image files
/views/assets/user_pictures/*

# Node.js modules
/node_modules/

# IDEA IDE files
.idea/
*~

# Vim swap files
.*.swp

# Misc. -------------------------------

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

config/secretDatabase.js
config/secretAuth.js

