<!DOCTYPE html>
<html>
<head>
	<% include partials/head %>
</head>
<body>
<div class="container">
	<header>
		<% include partials/header %>
	</header>

	<!-- Title. -->
	<div class="page-header text-center">
		<h1>Message Inbox</h1>
	</div>

	<!-- Messages, sorted by most recent. -->
	<% for (var i = messages.length - 1; i >= 0; i--) {%>
		<div class="row">
			<a href="/messages/delete/<%= messages[i]._id %>"<span class="glyphicon glyphicon-remove" title="Delete this message"></span></a>
			<a href="/users/<%= messages[i].sourceUserId %>">
				<%= messages[i].sourceUserName %>
			</a>:<br>
			<%= messages[i].text %><br><br>
		</div>
	<%}%>

</div>
</body>
</html>
