<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
	<% include partials/head %>
</head>
<body>
<div class="container">
	<header>
		<% include partials/header %>
	</header>
	<% if(typeof me !== "undefined"){%>
		<div class="jumbotron text-center">
			<h1>Welcome!</h1>
			<p>You are already logged in!</p>
			<p>Click below to continue</p>
			<a href="/users" class="btn btn-default">Home</a>
		</div>
	<%} else {%>
		<div class="jumbotron text-center">
			<h1><span class="fa fa-lock"></span></h1>

			<a href="/login" class="btn btn-default">Login</a>
			<a href="/signup" class="btn btn-default">Signup</a>
		</div>
	<%}%>
</div>
</body>
</html>
