<!DOCTYPE html>
<html>
<head>
	<% include partials/head %>
</head>
<body>
<div class="container">
	<header>
		<% include partials/header %>
	</header>
	<div class="page-header text-center">
		<h1>Message <%= target.displayName%></h1>
	</div>
	<div class="row">
		<strong>From</strong> <%=me.displayName%><br>
		<strong>To</strong> <%target.displayName%><br><br>
		<form class="form-horizontal" action="/messages/<%= target._id %>" method="post">
		<textarea name="message" rows="4" cols="100"></textarea>
		<button type="submit" class="btn btn-default btn-lg">Send Message</button>
		</form>
	</div>
</div>