<!doctype html>
<html>
<head>
	<% include partials/head %>
</head>
<body>
<div class="container">
	<header>
		<% include partials/header %>
	</header>
	
	<!--Enclose search interface with grey background-->
	<div class="jumbotron text-center">
		<form class="form-horizontal" action="/users/search" method="post">
	
			<!-- Search box-->
			<div class="form-group">
				<div class="col-sm-2"></div>
			
				<!--Search button-->
				<div class="col-sm-1">
					<button type="submit" class="btn btn-default">Search</button>
				</div>
			
				<!--Search input-->
				<div class="col-sm-6">
					<input name="displayName" type="text" class="form-control" value="">
				</div>
			</div>

			<!--Type options-->
			<div class="form-group">
				<label class="col-sm-3 control-label">Walker Status</label>
				<div class="col-sm-6">

					<!-- All users-->
					<input name="type" type="radio" value="all">&nbsp All Users</input>
					&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
			
					<!-- All Cat-Walkers-->
					<input name="type" type="radio" value="walkers">&nbsp All Cat-Walkers</input>
					&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
				
					<!-- All Non-Cat-Walkers-->
					<input name="type" type="radio" value="nonwalkers">&nbsp All Non-Cat-Walkers</input>
				</div>
			</div>

			<!-- Rating options -->
			<div class="form-group">
				<label class="col-sm-3 control-label">Rating</label>
				
				<div class="col-sm-2">
					
					<!-- Include rating-->
					<input name="includeratings" type="checkbox" value="off"> Include ratings</input>
				</div>
				
				<div class="col-sm-2">

					<!-- Minimum rating-->
					Minimum: 
					<select name="minrating">
						<% for (i = 1; i <=5; i++) {%>
							<option value="<%=i%>"><%=i%></option>
						<%}%>
					</select>
				</div>
				<div class="col-sm-2">

					Maximum: 
					<!-- maximum rating-->
					<select name="maxrating">
						<% for (i = 1; i <=5; i++) {%>
							<option value="<%=i%>"><%=i%></option>
						<%}%>
					</select>
				</div>
			</div>
		</form>
	</div>
</div>
</body>
</html>
