<!doctype html>
<html>
<head>
	<% include partials/head %>
</head>
<body>
<div class="container">
	<header>
		<% include partials/header %>
	</header>
	
	<!-- Container for search box with grey background-->
	<div class="jumbotron text-center">
		<div class="form-group">
		
		    <!-- Search box-->
			<label class="col-sm-2 control-label">Search</label>
			<div class="col-sm-4">
				<input name="search" type="text" class="form-control">
			</div>
			
			<!-- Radio button for all users-->
			<input name="option" type="radio"> Search All Users
			</input>
			
			<!-- Radio button for all cat walkers-->
			<input name="option" type="radio" > Search All Cat Walkers
			</input>
		</div>
	</div>
</div>
</body>
</html>
